<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="FLipkartLoginDependsOn">
        <classes>
            <class name="FLipkartLoginDependsOn.FlipkartLoginDependsOnTest">
                <methods>
                    <include name="setDriver"/>
                    <include name="doLoginIntoFlipkart"/>
                    <include name="verifyHoverList"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>