<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/palas/IdeaProjects/SeleniumBasicsNew/src/main/java/TestNGBasics/LoginTestWithDataProviderTest.java">
        <classes>
            <class name="TestNGBasics.LoginTestWithDataProviderTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/palas/IdeaProjects/SeleniumBasicsNew/src/main/java/TestNGBasics/DemoTest.java">
        <classes>
            <class name="TestNGBasics.DemoTest">
                <methods>
                    <include name="setUp"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/palas/IdeaProjects/SeleniumBasicsNew/src/main/java/TestNGBasics/AlertHandleTest.java">
        <classes>
            <class name="TestNGBasics.AlertHandleTest">
                <methods>
                    <include name="tHandleAlert"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>